@import "../../pages/dashboard/dashboard.component.scss";

.form_section {
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
    border-radius: 5px;
    padding: 0 25px 0 25px;

    .top_section {

        label {
            margin-bottom: 0.5rem;
        }
        .header {
            padding: 20px 0;
        }
    }

    form {

        // validation css
        .form-group {
            .alert.alert-danger {
                color: red;
                background-color: transparent;
                border: none;
                padding: 0;
                border-radius: 0;
                margin-bottom: 0;
                margin-top: 10px;
            }

            margin-bottom: 25px;
            position: relative;

            label {
                display: block;
                margin-bottom: 12px;
                color: var(--blackColor);
                position: relative;
                // padding-left: 25px;
                font-weight: 500;

                i {
                    color: var(--mainColor);
                    position: absolute;
                    left: 0;
                    top: 0.5px;
                    font-size: 19px;

                    &.bxl-facebook-square {
                        color: #3b5998;
                    }

                    &.bxl-twitter {
                        color: #1da1f2;
                    }

                    &.bxl-linkedin {
                        color: #0077b5;
                    }
                }

                span {
                    color: var(--optionalColor);
                    font-weight: 400;
                }
            }

            .form-control {
                height: 48px;
                background: #f9f9f9 !important;
                transition: var(--transition);
                border-radius: 5px;
                border: 1px solid #e5e7f2 !important;
                color: var(--blackColor) !important;

                font: {
                    weight: 400;
                    size: var(--fontSize);
                }

                padding: {
                    top: 0;
                    bottom: 0;
                    right: 15px;
                    left: 15px;
                }

                &::placeholder {
                    transition: var(--transition);
                    color: #7d93b2;
                }

                &:focus {
                    border-color: var(--mainColor);

                    &::placeholder {
                        color: transparent;
                    }
                }
            }

            textarea.form-control {
                padding-top: 15px;
                height: auto;
            }

            select {
                display: block;
                height: 48px;
                line-height: 48px;
                border-radius: 5px;
                cursor: pointer;
                background: #f9f9f9;
                transition: var(--transition);
                border: 1px solid #e5e7f2;
                color: #7d93b2;
                width: 100%;
                padding-left: 15px;

                font: {
                    weight: 400;
                    size: var(--fontSize);
                }

                &:focus {
                    border-color: var(--mainColor);
                    background-color: transparent;
                }
            }
        }
    }
}

::ng-deep {
    p-calendar span {
        width: 100%;
    }
    .p-datepicker-title {
        display: flex!important;
    }
    p-calendar input {
        height: 48px;
        background: #f9f9f9 !important;
        border-radius: 5px;
        border: 1px solid #e5e7f2 !important;
        color: var(--blackColor) !important;
        font-weight: 400;
        font-size: var(--fontSize);
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15px;
        padding-left: 15px;
    }
    .p-datepicker .p-timepicker button:focus {
        box-shadow: none!important;
    }
    .p-datepicker .p-timepicker button {
        text-align: center!important;
    }
    .p-datepicker .p-timepicker {
        text-align: center!important;
    }
}