<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- ********************** Main Content ******************** -->

<div class="main-content d-flex flex-column">

    <!-- <app-dashboard-navbar></app-dashboard-navbar> -->
    <app-navbar-style-one></app-navbar-style-one>

    <!-- ********************** Breadcrumb Area  ******************** -->

    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>

    <!-- ********************** End Breadcrumb Area  ******************** -->

    <!-- ********************** Add Master Form Area  ******************** -->

    <div class="add-listings-box">
        <!-- <h3>Add Master Name</h3> -->
        <form [formGroup]="postMemberClassificationForm" (ngSubmit)="onSubmit()" #memberClassification="ngForm">
            <div class="row mt-1">
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="form-group"> Name<span style="color: red;">*</span>:
                        <input type="text" class="form-control" placeholder="Name" formControlName="name" required [value]="name" [class.is-invalid]="(memberClassification.submitted && postMemberClassificationForm.get('name')?.invalid) || postMemberClassificationForm.get('name')?.invalid && postMemberClassificationForm.get('name').touched">
                        <div class="invalid-feedback">Name is required</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="form-group"> Total Seats<span style="color: red;">*</span>:
                        <input type="number" class="form-control" placeholder="Total Seats" formControlName="total_seats" required [value]="totalSeats" [class.is-invalid]="(memberClassification.submitted && postMemberClassificationForm.get('total_seats')?.invalid) || postMemberClassificationForm.get('total_seats')?.invalid && postMemberClassificationForm.get('total_seats').touched">
                        <div class="invalid-feedback">Total Seats is required</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="form-group"> Occupied Seats<span style="color: red;">*</span>:
                        <input type="number" class="form-control" placeholder="Occupied Seats" formControlName="occupied_seats" required [value]="occupiedSeats" [class.is-invalid]="(memberClassification.submitted && postMemberClassificationForm.get('occupied_seats')?.invalid) || postMemberClassificationForm.get('occupied_seats')?.invalid && postMemberClassificationForm.get('occupied_seats').touched">
                        <div class="invalid-feedback">Occupied Seats is required</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12"></div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="add-listings-btn">
                        <!-- [disabled]="!postMemberCategoriesForm.valid" -->
                        <button type="submit">{{btnText}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- ********************** End Add Master Form Area  ******************** -->

    <!-- ********************** Master View Area  ******************** -->

    <div class="Master-view-box">
        <div class="theader">
            <h3>Member classifications</h3>
            <!-- <ng-template pTemplate="caption"> -->
            <div class="flex" style="display: flex; width: 100%; justify-content: flex-end; ">
                <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
            placeholder="Search keyword" />
        </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">

                <!-- <p-calendar [(ngModel)]="value" [inline]="true"></p-calendar> -->
                <div class="card">

                </div>
                <p-table #dt1 [value]="classification" dataKey="id" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-sm p-datatable-customers" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['name', 'total_seats', 'occupied_seats']">

                    <ng-template pTemplate="header" style="min-height: 500px;">
                        <tr>
                            <th>S. No.</th>
                            <th>Name</th>
                            <th>Total Seats</th>
                            <th>Occupied Seats</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <!-- <tr>
              <th>
              </th>
              <th>
                <div style="max-width"><p-columnFilter type="text" field="name"></p-columnFilter></div>
              </th>
              <th></th>
              <th></th>
            </tr> -->
                    </ng-template>

                    <ng-template pTemplate="body" let-classification let-i="rowIndex">
                        <tr>
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                {{classification.name}}
                            </td>
                            <td>
                                {{classification.total_seats}}
                            </td>
                            <td>
                                {{classification.occupied_seats}}
                            </td>
                            <td style="text-align: right;">
                                <button pButton pRipple icon="bx bx-pencil" class="p-button-rounded p-button-text p-button-success mr-2" (click)="editMemberCategoryMaster(classification)"></button>

                                <button pButton pRipple icon="bx bx-trash" class="p-button-rounded p-button-text p-button-warning" (click)="deleteMaster(classification)"></button>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="5">No customers found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

    <!-- ********************** End Master View Area  ******************** -->

    <div class="flex-grow-1"></div>

    <!-- ********************** Copyrights Area  ******************** -->

    <app-copyrights></app-copyrights>

    <!-- ********************** End Copyrights Area  ******************** -->

</div>