<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- ********************** Main Content ******************** -->

<div class="main-content d-flex flex-column">

  <!-- <app-dashboard-navbar></app-dashboard-navbar> -->

  <app-navbar-style-one></app-navbar-style-one>

  <!-- ********************** Breadcrumb Area  ******************** -->

  <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
    <h1>{{Content.title}}</h1>
    <ol class="breadcrumb">
      <li class="item"><a routerLink="/">Home</a></li>
      <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
      <li class="item">{{Content.title}}</li>
    </ol>
  </div>

  <!-- ********************** End Breadcrumb Area  ******************** -->

  <!-- ********************** Facilities Approval Table Area  ******************** -->

  <div class="Master-view-box">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="theader">
          <!-- <h3>Facilities Approval</h3> -->
          <!-- <ng-template pTemplate="caption"> -->
          <div class="flex">
            <span class="p-input-icon-left ml-auto mr-2">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                [(ngModel)]="filterVal" placeholder="Search keyword" />
            </span>
            <!-- <p-button type="button" class="mr-2" icon="bx bx-filter-alt"></p-button> -->
            <p-button type="button" class="ml-2" (click)="reset(dt1)" icon="bx bx-reset"></p-button>
          </div>
        </div>
        <p-table #dt1 [value]="approvalData" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
          styleClass="p-datatable-sm p-datatable-customers" [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll"
          [loading]="loading" [paginator]="true" sortField="booked_by" defaultSortOrder="1" sortOrder="1"
          sortMode="multiple" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['company','category','emba_cons','country','visiting_country','visiting_date','ending_date','reason','name','designation','work_place','nationality','date_of_birth','place_of_birth','passport','issued_on','date_of_expiry','place_of_issue']"
          [customSort]="true">
          <ng-template pTemplate="header" style="min-height: 500px;">
            <tr>
              <th style="min-width: 80px; ">S. No.</th>
              <th style="min-width: 90px;" *ngIf="(localStorage?.role=='Admin')">Action</th>
              <th style="min-width: 110px;" *ngIf="!(localStorage?.role=='Admin')">Status</th>
              <th style="min-width: 150px; ">Company Name </th>
              <th style="min-width: 130px;">Category</th>
              <th style="min-width: 130px; ">Embessy Name</th>
              <th style="min-width: 180px;">Embessy Country</th>
              <th style="min-width: 160px; ">Visit Country</th>
              <th style="min-width: 130px;">Visit Date</th>
              <th style="min-width: 100px;">End Date</th>
              <th style="min-width: 160px;">Reason For Visit</th>
              <th style="min-width: 150px;">Name</th>
              <th style="min-width: 160px;">Designation</th>
              <th style="min-width: 160px;">Works at</th>
              <th style="min-width: 160px;">Nationality</th>
              <th style="min-width: 160px;">Date of birth</th>
              <th style="min-width: 160px;">Place of birth</th>
              <th style="min-width: 160px;">Passport No</th>
              <th style="min-width: 160px;">Date of issue</th>
              <th style="min-width: 160px;">Date of expiry</th>
              <th style="min-width: 100px;">Place of issue</th>
            </tr>

            <tr>
              <th></th>
              <th></th>
              <th>
                <p-columnFilter type="text" field="company" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="category" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="emba_cons" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="country" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="visiting_country" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="visiting_date" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="ending_date" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="reason" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="name" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="designation" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="work_place" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="nationality" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="date_of_birth" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="place_of_birth" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="passport" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="issued_on" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="date_of_expiry" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="place_of_issue" matchMode="contains" [showMenu]="false"
                  [showClearButton]="false"></p-columnFilter>
              </th>
              <!-- <th style="min-width: 100px;"></th> -->
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
              <td>{{i+1}}</td>
              <td style="min-width: 90px;" *ngIf="(localStorage?.role=='Admin')">
                <button pButton pRipple icon="bx bx-check" class="p-button-rounded p-button-success p-button-text mr-2"
                  (click)="onAprrovPress(item)" pTooltip="Approve" tooltipPosition="bottom"></button>
                <button pButton pRipple icon="bx bx-x" class="p-button-rounded p-button-danger p-button-text mr-2"
                  (click)="onRejectPress(item)" pTooltip="Reject" tooltipPosition="bottom"></button>
              </td>
              <td style="min-width:110px" *ngIf="!(localStorage.role == 'Admin')">
                <span class="text-light bg-success px-2 py-1 rounded">Approved</span>
              </td>
              <td>{{item.company}}
                <!-- <a href="{{'https://ucci.brandtalks.in/storage/invoice_doc/'+item.document}}">download</a> -->
              </td>
              <td>{{item.category}}</td>
              <td>{{item.emba_cons}}</td>
              <td>{{item.country}}</td>
              <td>{{item.visiting_country}}</td>
              <td>{{item.visiting_date}}</td>
              <td>{{item.ending_date}}</td>
              <td>{{item.reason}}</td>
              <td>{{item.name}}</td>
              <td>{{item.designation}}</td>
              <td>{{item.work_place}}</td>
              <td>{{item.nationality}}</td>
              <td>{{item.date_of_birth}}</td>
              <td>{{item.place_of_birth}}</td>
              <td>{{item.passport}}</td>
              <td>{{item.issued_on}}</td>
              <td>{{item.date_of_expiry}}</td>
              <td>{{item.place_of_issue}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No Visa Record found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Approve" [(visible)]="approveModalState" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10001"
  [draggable]="false" [autoZIndex]="false" [resizable]="false" [closable]="true" [closeOnEscape]="true">
  <div class="add-listings-box">

    <form [formGroup]="approvalForm" (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
            <div class="text-wrapper">
              <div class="centered">
                <input type="file" name="file" id="file" formControlName="document"
                  (change)="onFileChange($event.target.files)"
                  [class.is-invalid]="(form.submitted && approvalForm.get('document')?.invalid) || approvalForm.get('document')?.invalid && approvalForm.get('document').touched"><br><br>
                <label for="file"><span class="textLink"><span class="bx bx-upload"></span> &nbsp; Select your
                    file</span> <br><br> or Drop it here!</label>
                <div class="invalid-feedback">Document Required</div>
              </div>
            </div>
          </div>
          <hr>
          <div *ngIf="show">
            <h3 style="margin-inline: 0;">Files</h3>
            <div class="row">
              <div class="col-lg-12">
                <div class="fileItem" *ngFor="let f of files; let i = index">
                  <div class="fileItemText">
                    <span>{{f.name}}</span>
                  </div>
                  <div class="fileItemIconDiv">
                    <!-- <i class="bx bx-x fileItemIcon"></i> -->
                    <button pButton pRipple icon="bx bx-x" class="p-button-rounded p-button-danger p-button-text mr-2"
                      (click)="openConfirmDialog(i);"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="add-listings-btn" style="text-align: right;">
            <button type="submit">Approve</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
<p-dialog header="Reject" [(visible)]="rejectModalState" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10001"
  [draggable]="false" [autoZIndex]="false" [resizable]="false" [closable]="true" [closeOnEscape]="true">
  <div class="add-listings-box">

    <form [formGroup]="rejectForm" (ngSubmit)="onReject()" #rejectform="ngForm">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">Reason for reject<span style="color: red;">*</span>:
            <textarea type="text" class="form-control mt-2" placeholder="Reason for reject" formControlName="reason" required
              [class.is-invalid]="(rejectform.submitted && rejectForm.get('reason')?.invalid) || rejectForm.get('reason')?.invalid && rejectForm.get('reason').touched"></textarea>
            <div class="invalid-feedback">Reason for reject Required</div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="add-listings-btn" style="text-align: right;">
            <button type="submit">Reject</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</p-dialog>