<p-toast></p-toast>
<div class="add-listings-box p-2">
  <div class="row" style="align-items: center;">
    <div class="col-lg-6 col-sm-12">
      <div class="form-group">
        <span style="font-size: 1.2rem; font-weight: 500;">Selected Place : </span><span style="font-size: 1rem; font-weight: 300;">{{confirmData.place}}</span>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="form-group">
        <span style="font-size: 1.2rem; font-weight: 500;">Booked Date : </span><span style="font-size: 1rem; font-weight: 300;">{{confirmData.booking_date}}</span>
      </div>
    </div>
    <div class="col-lg-6 col-md-3 col-sm-12">
      <div class="form-group">
        <span style="font-size: 1.2rem; font-weight: 500;">Name : </span><span style="font-size: 1rem; font-weight: 300;">{{confirmData.booked_by}}</span>
      </div>
    </div>
    <div class="col-lg-6 col-md-3 col-sm-12">
      <div class="form-group">
        <span style="font-size: 1.2rem; font-weight: 500;">Meeting Type : </span><span style="font-size: 1rem; font-weight: 300;">{{confirmData.conference_facility_type}}</span>
      </div>
    </div>
    <div class="col-lg-6 col-md-3 col-sm-12">
      <div class="form-group">
        <span style="font-size: 1.2rem; font-weight: 500;">Additional Services : </span><span style="font-size: 1rem; font-weight: 300;">{{additionalService}}</span>
      </div>
    </div>
    <div class="col-lg-6 col-md-3 col-sm-12">
      <div class="form-group">
        <span style="font-size: 1.2rem; font-weight: 500;">Support Staff : </span><span style="font-size: 1rem; font-weight: 300;">{{supportStaff}}</span>
      </div>
    </div>
    <div class="col-lg-6 col-md-3 col-sm-12" *ngIf="amountstate == false">
      <div class="form-group">
        <span style="font-size: 1.2rem; font-weight: 500;">Fees : </span><span style="font-size: 1rem; font-weight: 300;">{{amount}}</span>
      </div>
    </div>
    <div class="col-lg-6 col-md-3 col-sm-12" *ngIf="amountstate == true">
      <div class="form-group">
        <span style="font-size: 1.2rem; font-weight: 500;">Member Fees : </span><span style="font-size: 1rem; font-weight: 300;">{{memberAmount}}</span>
      </div>
    </div>
    <div class="col-lg-6 col-md-3 col-sm-12" *ngIf="amountstate == true">
      <div class="form-group">
        <span style="font-size: 1.2rem; font-weight: 500;">None Member Fees : </span><span style="font-size: 1rem; font-weight: 300;">{{nonMemberAmount}}</span>
      </div>
    </div>
    
  </div>
  <div class="form-group">
    <ul class="facilities-list">
      <li>
        <label class="checkbox">
          <input type="radio" name="booking_type" value="internal">
          <span>Net Banking</span>
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="radio" name="booking_type" value="external">
          <span>UPI</span>
        </label>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="add-listings-btn" style="text-align: left;">
        <button type="button" (click)="onBackPress()">Back</button>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="add-listings-btn" style="text-align: right;">
        <button type="submit" (click)="onNextPress()">Make Payment</button>
      </div>
    </div>
  </div>
</div>